.team-match-card {
  border: solid 1px #ffffff;
  border-radius: 11px;
  background-color: #ffffff33;
  width: 145px;
  height: 96px;
  display: flex;
  align-items: center;
  margin: 9px 5px;
}
@media (min-width: 768px) {
  .team-match-card {
    width: 40%;
    height: 125px;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}

.team-match-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .team-match-link {
    width: 75%;
    justify-content: space-between;
  }
}

.team-card-logo {
  width: 45px;
}
@media (min-width: 768px) {
  .team-logo {
    width: 148px;
  }
}

.team-name-card {
  text-align: center;
  width: 53%;
}

.team-card-name {
  font-size: 11px;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .team-card-name {
    font-size: 15px;
  }
}
