.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Bree Serif';
}

.dashboard-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #ffffff;
}

.dashboard-title-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.app-logo {
  width: 37px;
  /* margin-right: 11px; */
}

.team-cards-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
